* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 224, 224);
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

img {
  padding-top: 15px;
}

h3 {
  font-family: "Big Shoulder Display";
  padding: 35px 0px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

p {
  line-height: 1.8;
  margin-bottom: 25px;
  font-family: "lexend Deca";
  font-weight: 400;
}
.container {
  margin: 50px auto;
  width: auto;
  min-width: 300px;
  max-width: 300px;
}

.btn {
  border-radius: 30px;
  padding: 15px 30px;
  border: 1px solid white;
  background-color: white;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.card {
  padding: 25px 40px;
  color: white;
}

.sedan {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.suv {
  background-color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0px 0px 10px 10px;
}

.btn-color-1 {
  color: var(--bright-orange);
}

.btn-color-2 {
  color: var(--dark-cyan);
}

.btn-color-3 {
  color: var(--very-dark-cyan);
}

/* Utilizando media query */
@media (min-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    max-width: 900px;
    margin: auto;
  }

  .sedan {
    border-radius: 10px 0px 0 10px;
  }

  .luxury {
    border-radius: 0px 10px 10px 0;
  }

  p {
    line-height: 1.8;
    margin-bottom: 80px;
  }
}
